{% extends 'log_kayit/partials/base_dashboard.html' %}
{% load i18n %}

{% block title %}{% trans "Syslog Mesaj Detayı" %} - {{ company.name }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-envelope"></i> {% trans "Syslog Mesaj Detayı" %}
                    </h3>
                </div>
                <div class="card-body">
                    <div class="alert alert-info">
                        <h4 class="alert-heading">{% trans "Mesaj Detayı" %}</h4>
                        <p>{% trans "Bu sayfa syslog mesaj detaylarını göstermek için kullanılır." %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
